* {
	font-family: Verdana, Geneva, sans-serif;
}

#a:hover {
	animation: b 0.5s forwards;
}
@media (max-width: 768px) {
	.card {
	  width: 100%;
	}
	
	.container.d-flex.justify-content-center {
	  flex-direction: column;
	  align-items: center;
	}
  }
  
@media (max-width: 557px) {
	header {
	  display: none !important;
	}

	.madriz {
	  display: none !important;
	}
	
  }



@keyframes b {
	0% {
		background-color: #8BC34A;
		transform: scale(1);
	}

	50% {
		background-color: #8BC34A;
		transform: scale(0.9);
	}

	100% {
		background-color: #8BC34A;
		transform: scale(1);
	}
}

body {
	overflow: auto;
	/*Graceful degradation para Firefox*/
	overflow: overlay;
}

/*Webkit(Chrome, Android browser, Safari, Edge...)*/
body::-webkit-scrollbar {
	display: none;
}

body:hover::-webkit-scrollbar {
	display: initial;
}

body::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.btn-submit {
	transition: all 0.3s ease;
}

.btn-submit.active {
	animation: button-animation 1s ease;
}

#margenes {
	margin-left: 200px !important;
	margin-right: 200px !important;
	background-color: #24c729;
	overflow: hidden;
}

.cuadrado {
	width: 30px;
	height: 30px;
	background-color: gray;
	margin: 10px;
	display: inline-block;
	animation-name: mover;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

.cuadrado:nth-child(odd) {
	background-color: #298d2c;
}

@keyframes mover {
	0% {
		transform: translateX(-100%);
	}
	50%{
		transform: translateX(600%);
	}
	100% {
		transform: translateX(300%);
	}
}

/* Quita los márgenes en pantallas más pequeñas */
@media screen and (max-width: 1147px) {
	#margenes {
		margin-left: 0px !important;
		margin-right: 0px !important;
		background-color: #24c729;
	}
}

.colore {
	background-color: #8BC34A;
}

#chiquito{
	color: red;
}
/* Estilos por defecto */
table {
    width: 100%;
    border: 1px solid gray;
}

th,
td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #24c729;
    border-collapse: collapse;
    padding: 0.3em;
}

caption {
    padding: 0.3em;
}

/* Media Query para pantallas con un ancho máximo de 576px */
@media screen and (max-width: 768px) {
    th,
    td {
        width: auto;
        display: block;
        border: none;
        text-align: center;
    }

    th {
        font-weight: bold;
        border-bottom: 2px solid #24c729;
        text-align: right; /* Alineamos el texto a la derecha */
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        margin-right: 0.5em;
    }

    td {
        border-bottom: 1px solid #24c729;
        padding: 0.5em;
    }
}

/* Media Query para pantallas con un ancho máximo de 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
    table {
        width: 100%;
    }

    th,
    td {
        width: auto;
        display: block;
        border: none;
        text-align: center;
    }

    th {
        font-weight: bold;
        border-bottom: 2px solid #24c729;
        text-align: right; /* Alineamos el texto a la derecha */
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        margin-right: 0.5em;
    }

    td {
        border-bottom: 1px solid #24c729;
        padding: 0.5em;
	}
}

